My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "14aF_PF8XtLnQmpI4reK7LnOsw81JpSol",
          "mode": "list",
          "cachedResultName": "Cv",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14aF_PF8XtLnQmpI4reK7LnOsw81JpSol"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -224
      ],
      "id": "5fdd6e2d-8de4-4bf9-a6f9-02ae279068d8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Tg2pMzUqjp50Q748",
          "name": "victosol22@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        -224
      ],
      "id": "4ec12ce6-797d-4072-a5aa-23d9bf3fd73a",
      "name": "Cv_victoria",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Tg2pMzUqjp50Q748",
          "name": "victosol22@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "vikisopt-1536",
          "mode": "list",
          "cachedResultName": "vikisopt-1536"
        },
        "options": {
          "pineconeNamespace": "cv"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -80,
        -224
      ],
      "id": "75da9ead-50a7-420d-a853-3cd540b2d257",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "vRk6cWfoMtZZoLG3",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -352,
        32
      ],
      "id": "f5a78786-0e84-4418-aaf5-abbbca20888e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mBevLE6ttPM7mKEb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -80,
        0
      ],
      "id": "e17f1f4d-86f4-45e5-acea-c6b1b26ba035",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -48,
        176
      ],
      "id": "277f8ed9-b0fb-495d-8ea0-493f48e7380a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        432,
        -208
      ],
      "id": "be89703e-201b-4aa4-b04e-4d650da46d7f",
      "name": "When chat message received",
      "webhookId": "b4eead9e-c664-4d05-8d25-ba12aba695e2"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {
          "maxTokens": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        656,
        -16
      ],
      "id": "26303872-f436-4058-8863-fa7f3e522247",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "2B8ugBOqJjHk9AZ3",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this toll to access the cv database ",
        "pineconeIndex": {
          "__rl": true,
          "value": "vikisopt-1536",
          "mode": "list",
          "cachedResultName": "vikisopt-1536"
        },
        "options": {
          "pineconeNamespace": "cv"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        896,
        128
      ],
      "id": "2c4f17bc-47a4-49f3-9e69-40e9cf4c7efc",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "vRk6cWfoMtZZoLG3",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        304
      ],
      "id": "3e8e3398-6f3a-4a08-8753-38627841769d",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "mBevLE6ttPM7mKEb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Ycy1fyw31nQ3HyZEXSbXHqeT2FymADVDm7aV2-0YDVY",
          "mode": "list",
          "cachedResultName": "Jobs_from_BrightData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ycy1fyw31nQ3HyZEXSbXHqeT2FymADVDm7aV2-0YDVY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "גיליון1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ycy1fyw31nQ3HyZEXSbXHqeT2FymADVDm7aV2-0YDVY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_title": "={{ $json.job_title }} {{ $json.job_title }}",
            "company_name": "={{$json[\"company_name\"]}}  {{ $json.company_name }}",
            "location": "={{$json[\"location\"]}} {{ $json.location }}",
            "url": "={{$json[\"url\"]}} {{ $json.url }}",
            "description_text": "={{$json[\"description_text\"]}} {{ $json.description_text }}"
          },
          "matchingColumns": [
            "job_title"
          ],
          "schema": [
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description_text",
              "displayName": "description_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created",
              "displayName": "created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dataset_size",
              "displayName": "dataset_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_size",
              "displayName": "file_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cost",
              "displayName": "cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "initiation_type",
              "displayName": "initiation_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        272
      ],
      "id": "912e6bc2-4c5c-4660-b8e1-c46951afe708",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RSZJGA6Tu0kxGgUM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "marketplaceDataset",
        "operation": "getSnapshotContent",
        "snapshot_id": "snap_mezzcxj817oc2ahaxx",
        "requestOptions": {}
      },
      "type": "@brightdata/n8n-nodes-brightdata.brightData",
      "typeVersion": 1,
      "position": [
        1216,
        16
      ],
      "id": "c5fcfff9-75e1-4f9e-8633-3a595eb6dc7b",
      "name": "Retrieve data by snapshot id",
      "credentials": {
        "brightdataApi": {
          "id": "JoufPTn4pK6DGL2k",
          "name": "BrightData account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "example@gmail.com",
        "subject": "new jobs",
        "message": "new jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        528
      ],
      "id": "aeec587a-efa9-4d83-ac79-d9eb694095be",
      "name": "Send a message",
      "webhookId": "cd2e53f8-8bd9-42f3-830e-dbe609ec79ed",
      "credentials": {
        "gmailOAuth2": {
          "id": "xmdLhtoj3nnmmsc9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a job search assistant who helps candidates find relevant job opportunities based on both their resume profile and their message.\n\nYou always return a clean JSON object for use in filters.\n\nYou are given the following candidate profile:\n- Persona: {{persona}}\n- Domain: {{domain}}\n- Experience: {{experience_years}} years\n- Language: {{language}}\n- Style: {{style}}\n\nYour job is to:\n1. Understand the user's message.\n2. Extract:\n{\n  \"role\": [job title requested or inferred from domain],\n  \"location\": [location mentioned or default],\n  \"level\": [\"junior\" / \"mid\" / \"senior\" based on experience_years]\n}\nOnly return valid JSON. No explanation. No chatty text. Strict format.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        656,
        -208
      ],
      "id": "c4940447-68aa-4d53-878e-453044ad2514",
      "name": "vikis Agent"
    },
    {
      "parameters": {
        "jsCode": "return {\n  messages: [\n    {\n      role: \"system\",\n      content: `You are a CV profiler. Analyze the resume text and return only this JSON:\n{\n  \"persona\": \"junior | senior | immigrant | career_switcher\",\n  \"domain\": \"backend | data | product | ...\",\n  \"experience_years\": number,\n  \"language\": \"hebrew | english\",\n  \"style\": \"modest | confident | overconfident | generic\"\n}`\n    },\n    {\n      role: \"user\",\n      content: $json.text // ← כאן שים את השדה שמגיע מה־Text Splitter\n    }\n  ]\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        224
      ],
      "id": "9bb7d591-f224-433c-abdb-a0d447a8c2e3",
      "name": "persona"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    filter: {\n      operator: \"and\",\n      filters: [\n        {\n          name: \"job_title\",\n          operator: \"includes\",\n          value: $json.role || \"developer\"\n        },\n        {\n          name: \"location\",\n          operator: \"includes\",\n          value: $json.location || \"תל אביב\"\n        }\n      ]\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -208
      ],
      "id": "f5bcca11-afe8-4cd0-a73c-e0e790275138",
      "name": "filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Cv_victoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cv_victoria": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "vikis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "vikis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "vikis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve data by snapshot id": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vikis Agent": {
      "main": [
        [
          {
            "node": "filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "persona": {
      "main": [
        [
          {
            "node": "filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter": {
      "main": [
        [
          {
            "node": "Retrieve data by snapshot id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11a2b477-8f8a-4083-8a0e-83fbf861c5b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf778eb2c990b0a69b76a1277b4553729ed1d59f39c1f6fcbc981aeca519c1de"
  },
  "id": "ROXq3w1Nr119oqLR",
  "tags": []
}